@import 'vars';

html {
	font-family: sans-serif;
}

body {
	padding: 0;
	background-color: $dark2;
	color: $light1;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('fontawesome-webfont.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Weather';
	src: url( 'weathericons-regular-webfont.woff' );
}

//noinspection CssUnknownProperty
.fa {
	font-family: FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//noinspection CssUnknownProperty
.weather {
	font-family: Weather;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.above-all-overlay {
	z-index: 4;
}
.above-all {
	z-index: 3;
}
.above-panels {
	z-index: 2;
}

.button {
	@extend button;
	min-width: 14px;
	min-height: 16px;

	&.delete-panel {
		border-bottom-left-radius: 3px;
		border-top-right-radius: 3px;
		position: absolute;
		right: 0;
		top: 0;
	}

	&.add-panel {
		position: fixed;
		right: 50px;
		top: 0;
		border-bottom-left-radius: 3px;
		display: none;
	}

	&.edit-panels {
		position: fixed;
		right: 0;
		top: 0;
		border-bottom-left-radius: 3px;
	}

	&.view-panels {
		display: none;
		position: fixed;
		right: 0;
		top: 0;
	}

	&.settings {
		display: none;
		position: fixed;
		right: 25px;
		height: 18px;
		top: 0;
	}
}

#container {
	padding: 0;
	width: 100%;
	height: 100%;
}

#container.manage {
	border: 1px solid $light1;
	border-left: 0;
	background-image: url('../images/grid.png');

	.add-panel, .view-panels, .settings {
		display: inline-block;
	}

	.edit-panels {
		display: none;
	}

	#text-controls {
		text-align: center;
		display: block;
		margin-left:auto;
		margin-right:auto;
		position: relative;

		a {
			@extend button;
			padding: 5px !important;

			&:link, &:visited, &:hover {
				text-decoration: none;
			}

			&.undo:before {
				content: "\f0e2";
			}
			&.redo:before {
				content: "\f01e";
			}
			&.bold:before {
				content: "\f032";
			}
			&.italic:before {
				content: "\f033";
			}
			&.underline:before {
				content: "\f0cd";
			}
			&.strikeThrough:before {
				content: "\f0cc";
			}
			&.justifyLeft:before {
				content: "\f036";
			}
			&.justifyCenter:before {
				content: "\f037";
			}
			&.justifyRight:before {
				content: "\f038";
			}
			&.justifyFull:before {
				content: "\f039";
			}
			&.indent:before {
				content: "\f03c";
			}
			&.outdent:before {
				content: "\f03b";
			}
			&.insertUnorderedList:before {
				content: "\f0ca";
			}
			&.insertOrderedList:before {
				content: "\f0cb";
			}
			&.subscript:before {
				content: "\f12c";
			}
			&.superscript:before {
				content: "\f12b";
			}
		}
	}
}

.mega-warning{
	color:#ffaaaa;
	background-color: #dd0000;
	border-color: #ff0000;
	display: block;
	padding: 10px;
	width: 96%;
	margin: 2%;
	&:hover {
		color:#ffffff;
		background-color: #ff0000;
		border-color: #dd0000;
	}
}
