@import 'vars';

html {
	font-family: sans-serif;
}

body {
	padding: 0;
	background-color: $dark2;
	color: $light1;
}

.button {
	@extend .fButton;
	min-width: 14px;
	min-height: 16px;

	&.delete-panel {
		border-bottom-left-radius: 3px;
		border-top-right-radius: 3px;
		position: absolute;
		right: 0;
	}

	&.add-panel {
		position: fixed;
		right: 25px;
		top: 0;
		border-bottom-left-radius: 3px;
		display: none;
		z-index: 2;
	}

	&.edit-panels {
		position: fixed;
		right: 0;
		top: 0;
		border-bottom-left-radius: 3px;
	}

	&.view-panels {
		display: none;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
	}

}

#container {
	padding: 0;
	width: 100%;
	height: 100%;
}

#container.manage {
	border: 1px solid $light1;
	border-left: 0;
	background-image: url('../images/grid.png');

	.add-panel, .view-panels {
		display: inline-block;
	}

	.edit-panels {
		display: none;
	}
}