/** Colours */
button, .button, #container.manage #text-controls a, .ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button { cursor: pointer; padding: 2px 5px 2px 5px; background-color: #6a6a6a; border: 1px solid #6a6a6a; color: #222222; font-weight: bold; text-align: center; }
button:hover, .button:hover, #container.manage #text-controls a:hover, .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover { background-color: #2c2c2c; color: #6a6a6a; }

html { font-family: sans-serif; }

body { padding: 0; background-color: #2c2c2c; color: #6a6a6a; }

@font-face { font-family: 'FontAwesome'; src: url("fontawesome-webfont.woff"); font-weight: normal; font-style: normal; }

.fa { font-family: FontAwesome; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.above-all-overlay { z-index: 4; }

.above-all { z-index: 3; }

.above-panels { z-index: 2; }

.button { min-width: 14px; min-height: 16px; }
.button.delete-panel { border-bottom-left-radius: 3px; border-top-right-radius: 3px; position: absolute; right: 0; top: 0; }
.button.add-panel { position: fixed; right: 50px; top: 0; border-bottom-left-radius: 3px; display: none; }
.button.edit-panels { position: fixed; right: 0; top: 0; border-bottom-left-radius: 3px; }
.button.view-panels { display: none; position: fixed; right: 0; top: 0; }
.button.settings { display: none; position: fixed; right: 25px; height: 18px; top: 0; }

#container { padding: 0; width: 100%; height: 100%; }

#container.manage { border: 1px solid #6a6a6a; border-left: 0; background-image: url("../images/grid.png"); }
#container.manage .add-panel, #container.manage .view-panels, #container.manage .settings { display: inline-block; }
#container.manage .edit-panels { display: none; }
#container.manage #text-controls { text-align: center; display: block; margin-left: auto; margin-right: auto; position: relative; }
#container.manage #text-controls a { padding: 5px !important; }
#container.manage #text-controls a:link, #container.manage #text-controls a:visited, #container.manage #text-controls a:hover { text-decoration: none; }
#container.manage #text-controls a.undo:before { content: "\f0e2"; }
#container.manage #text-controls a.redo:before { content: "\f01e"; }
#container.manage #text-controls a.bold:before { content: "\f032"; }
#container.manage #text-controls a.italic:before { content: "\f033"; }
#container.manage #text-controls a.underline:before { content: "\f0cd"; }
#container.manage #text-controls a.strikeThrough:before { content: "\f0cc"; }
#container.manage #text-controls a.justifyLeft:before { content: "\f036"; }
#container.manage #text-controls a.justifyCenter:before { content: "\f037"; }
#container.manage #text-controls a.justifyRight:before { content: "\f038"; }
#container.manage #text-controls a.justifyFull:before { content: "\f039"; }
#container.manage #text-controls a.indent:before { content: "\f03c"; }
#container.manage #text-controls a.outdent:before { content: "\f03b"; }
#container.manage #text-controls a.insertUnorderedList:before { content: "\f0ca"; }
#container.manage #text-controls a.insertOrderedList:before { content: "\f0cb"; }
#container.manage #text-controls a.subscript:before { content: "\f12c"; }
#container.manage #text-controls a.superscript:before { content: "\f12b"; }

.mega-warning { color: #ffaaaa; background-color: #dd0000; border-color: #ff0000; display: block; padding: 10px; width: 96%; margin: 2%; }
.mega-warning:hover { color: #ffffff; background-color: #ff0000; border-color: #dd0000; }

/** Colours */
button, .button, #container.manage #text-controls a, .ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button { cursor: pointer; padding: 2px 5px 2px 5px; background-color: #6a6a6a; border: 1px solid #6a6a6a; color: #222222; font-weight: bold; text-align: center; }
button:hover, .button:hover, #container.manage #text-controls a:hover, .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover { background-color: #2c2c2c; color: #6a6a6a; }

div.panel { box-shadow: 0 0 0 1px #6a6a6a inset; background-color: #222222; border-radius: 5px; /** jQuery UI Resizable */ }
div.panel .title { padding: 3px; text-align: center; font-weight: bold; }
div.panel .title a { color: #6a6a6a; }
div.panel.slides { overflow: hidden; }
div.panel.slides .slide img { max-width: 98%; max-height: 50%; margin-left: auto; margin-right: auto; display: block; height: auto; }
div.panel > div.content { margin: 4px; }
div.panel > div.content .slide { float: left; }
div.panel a.move-panel { font-size: 60px; line-height: 17px; cursor: move; height: 28px; overflow: hidden; display: inline-block; position: absolute; top: 0; left: 0; }
div.panel.ui-resizable .ui-resizable-handle { position: absolute; font-size: 0px; display: block; }
div.panel.ui-resizable .ui-resizable-handle.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
div.panel.ui-resizable .ui-resizable-handle.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
div.panel.ui-resizable .ui-resizable-handle.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
div.panel.ui-resizable .ui-resizable-handle.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
div.panel.ui-resizable .ui-resizable-handle.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
div.panel.ui-resizable .ui-resizable-handle.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
div.panel.ui-resizable .ui-resizable-handle.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
div.panel.edit { height: 100%; overflow-x: hidden; overflow-y: auto; }
div.panel.edit a.open-edit-dialog { display: none; }
div.panel.edit.dialog-edit a.open-edit-dialog { display: block; text-align: center; padding-top: 30px; cursor: pointer; height: 100%; }
div.panel.edit.dialog-edit > div.content { display: none; }
div.panel.edit > div.content { padding-top: 20px; }
div.panel.edit > div.content label { display: block; clear: both; margin-left: auto; margin-right: auto; }
div.panel.edit > div.content label select, div.panel.edit > div.content label input { float: right; width: 45%; }
div.panel.edit > div.content label textarea { width: 100%; height: 80%; }
div.panel.view { overflow: hidden; }
div.panel .clock { margin-left: auto; margin-right: auto; text-align: center; }
div.panel.textPanel > div.content[contentEditable=true]:empty:before { content: 'Your text here'; font-style: italic; }
div.panel.statusPanel .status { text-align: center; font-size: 60px; }
div.panel.statusPanel.ok .status:after { content: '\25B2'; color: #80bf40; }
div.panel.statusPanel.warning .status:after { content: '\25BC'; color: #bf9f40; }
div.panel.statusPanel.error .status:after { content: '\25BC'; color: #bf4040; }
div.panel.statusPanel.unknown .status:after { content: '?'; }
div.panel.rssMediaPanel .slide img { height: 98%; max-height: 98%; max-width: 98%; margin: auto; display: block; }
div.panel.iceCreamPanel { text-align: center; }

/** Colours */
button, .button, #container.manage #text-controls a, .ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button { cursor: pointer; padding: 2px 5px 2px 5px; background-color: #6a6a6a; border: 1px solid #6a6a6a; color: #222222; font-weight: bold; text-align: center; }
button:hover, .button:hover, #container.manage #text-controls a:hover, .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover { background-color: #2c2c2c; color: #6a6a6a; }

.ui-dialog { position: absolute; top: 0; left: 0; padding: .2em; padding-bottom: 0px; outline: 0; background-color: #222222; border: 1px solid #6a6a6a; border-radius: 3; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative; }
.ui-dialog .ui-dialog-title { margin: .1em 0; white-space: nowrap; width: 90%; overflow: hidden; text-overflow: ellipsis; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: -4px; top: -4px; width: 25px; height: 25px; border-bottom-left-radius: 3px; border-top-right-radius: 3px; }
.ui-dialog .ui-dialog-titlebar-close span { display: none; }
.ui-dialog .ui-dialog-titlebar-close:after { content: 'X'; }
.ui-dialog .ui-dialog-content label { display: block; clear: both; margin-left: auto; margin-right: auto; }
.ui-dialog .ui-dialog-content label select, .ui-dialog .ui-dialog-content label input, .ui-dialog .ui-dialog-content label button, .ui-dialog .ui-dialog-content label .button, .ui-dialog .ui-dialog-content label #container.manage #text-controls a, #container.manage #text-controls .ui-dialog .ui-dialog-content label a, .ui-dialog .ui-dialog-content label .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-content label .ui-dialog-buttonpane .ui-dialog-buttonset button, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-dialog-content label button { float: right; width: 45%; }
.ui-dialog .ui-dialog-buttonpane { border-width: 1px 0 0 0; background-image: none; margin-top: 10px; text-align: center; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset #container.manage #text-controls a, #container.manage #text-controls .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset a, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button { margin: 0; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.ui-dialog .ui-resizable-se { width: 12px; height: 12px; right: -5px; bottom: -5px; background-position: 16px 16px; }

.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000; opacity: 0.5; }

.ui-front { z-index: 10000; }
